= render( partial: 'tabs_and_title' )

.col-xs-12.goggles-category-gap
  .text-center
    %i=t('meeting_reservation.relayometer_description')

.col-xs-12.goggles-category-gap
  .text-center
    .p= t('coming_soon')

.col-xs-12.goggles-category-gap
  &nbsp;
