= render( partial: 'tabs_and_title' )

= render( partial: 'show_event_list' )
.col-xs-12.goggles-category-gap
  &nbsp;

- relay_count = @meeting.meeting_events.joins(:meeting_session, :event_type).includes(:meeting_session, :event_type).where('event_types.is_a_relay = 1').distinct.count
- if relay_count > 10000
  .col-xs-12
    = render( partial: 'show_relay_list' )
  .col-xs-12.goggles-category-gap
    &nbsp;
  .col-xs-12
    = render( partial: 'show_relay_config' )
  .col-xs-12.goggles-category-gap
    &nbsp;
