= render( partial: 'tabs_and_title' )

= render( partial: 'show_event_list' )
.col-xs-12.goggles-category-gap
  &nbsp;

= render( partial: 'show_relay_list' )
.col-xs-12.goggles-category-gap
  &nbsp;

= render( partial: 'show_relay_config' )
.col-xs-12.goggles-category-gap
  &nbsp;
