.navbar
  %a.goggles-small-brand(href='#')= GenderType.find_by_id(GenderType::FEMALE_ID).i18n_short + ':'
  %ul.nav
    - meeting_event.meeting_programs.includes(:category_type, :gender_type).where(gender_type_id: GenderType::FEMALE_ID).order('category_types.id').each do |meeting_program|
      %li
        %a.goggles-nav-compact(href="\#mprg#{meeting_program.id}")= meeting_program.get_category_type_name
  .ghost-divider-vertical
  %a.goggles-small-brand(href='#')= GenderType.find_by_id(GenderType::MALE_ID).i18n_short + ':'
  %ul.nav
    - meeting_event.meeting_programs.includes(:category_type, :gender_type).where(gender_type_id: GenderType::MALE_ID).order('category_types.id').each do |meeting_program|
      %li
        %a.goggles-nav-compact(href="\#mprg#{meeting_program.id}")= meeting_program.get_category_type_name
