.row.col-xs-12
  %h3= @title

.row.col-xs-12
  = render( partial: 'goggles/meeting_list', locals: {season: true} )

.row.col-xs-12.goggles-category-gap#Remark
  %b= t('calendars.remark')

.row.col-xs-12
  &nbsp;
