.row.col-xs-12
  .row.alert.alert-success.goggles-div-centeralign
    %br/
    .col-xs-12
      %h3= I18n.t('meeting.my.title')
    .col-xs-12
      = I18n.t('meeting.my.subtitle')

= render( partial: 'goggles/meeting_list', locals: {season: true} )

.row.col-xs-12.goggles-category-gap#Remark
  %p
    %b= t('calendars.remark')

.row.col-xs-12
  &nbsp;
