- cache( cache_key_for_meeting( 'show_team_results', @meeting.id, @max_mir_updated_at, @team_id) ) do
  = render( partial: 'tabs_and_radio_title' )

  = render( partial: 'meeting_header' )
  = render( partial: 'team_header' )

  .row-fluid
    .span12
      = render( partial: 'full_results_team_grid' )
