- cache( cache_key_for_meeting( 'show_stats', @meeting.id, @max_mir_updated_at, @preselected_team_id) ) do
  = render( partial: 'tabs_and_radio_title' )

  = render( partial: 'meeting_header' )

  .row-fluid
    .span12
      = render( partial: 'meeting_stats_grid' )
