= render( partial: 'meeting_header' )
= render( partial: 'tabs_and_radio_title' )
.goggles-category-gap.col-xs-12

- cache( cache_key_for_meeting( 'show_invitation', @meeting.id, @max_mir_updated_at ) ) do
  .col-xs-12
    - if @meeting.invitation
      .goggles-category-gap.col-xs-12
      - html_doc = Nokogiri::HTML( @meeting.invitation )
      .col-xs-12
        = html_doc.css('style').to_html.html_safe
        = html_doc.css('body').inner_html.html_safe

  .col-xs-12
    &nbsp;
