.row-fluid#individual_rank_regional_er_csi
  .goggles-category-gap#pageTop
    = render( partial: 'regional_er_csi_tabs' )
    = render( partial: 'title' )
  
    .p= t('coming_soon')

.row-fluid.goggles-category-gap
