.row-fluid#ga-opt-out{ style: "display:none;" }
  .alert.alert-info
    %i
      %strong= t('privacy.we_use_cookies')
    .row-fluid
      .btn= link_to_function( t('privacy.agreed'), "gaOptIn(); $('#ga-opt-out').hide();" )
      .btn= link_to_function( t('privacy.disable'), "gaOptOut(); $('#ga-opt-out').hide();" )

:javascript
  if ( document.cookie.indexOf(disableStr) < 0 ) {
    //console.log("cookie not found, re-asking policy to the user.")
    $('#ga-opt-out').show();
  }
  else {
    //console.log("cookie found, policy question remains hidden.")
    $('#ga-opt-out').hide();
  };
