.row#ga-opt-out{ style: "display:none;" }
  .alert.alert-info
    %i
      %strong= t('privacy.we_use_cookies')
    .row
      .btn= link_to( t('privacy.agreed'),  '#', onclick: "gaOptIn(); $('#ga-opt-out').hide(); return false", 'data-turbolinks'=>'false', class: "nav_link" )
      .btn= link_to( t('privacy.disable'), '#', onclick: "gaOptOut(); $('#ga-opt-out').hide(); return false", 'data-turbolinks'=>'false', class: "nav_link" )

:javascript
  if ( document.cookie.indexOf(disableStr) < 0 ) {
    //console.log("cookie not found, re-asking policy to the user.")
    $('#ga-opt-out').show();
  }
  else {
    //console.log("cookie found, policy question remains hidden.")
    $('#ga-opt-out').hide();
  };
