.row-fluid
  %h3= I18n.t('home_controller.upgrade_your_experience')
  %p
    = I18n.t('home_controller.you_are_not_linked_to_a_swimmer_yet')
    = link_to( I18n.t('home_controller.link_yourself_to_an_existing_swimmer'), associate_path() )
