- if meeting_id.nil?
  = image_tag( 'bullet_error.png' )
- else
  = link_to( taggings_meeting_for_user_path(id: meeting_id), { method: :post, remote: true } ) do
    - if is_saved_ok
      = image_tag( is_starred ? 'star.png' : 'star_disabled.png' )
    - else
      = image_tag( 'bullet_error.png' )
