= link_to( taggings_meeting_for_team_path(id: meeting_id), { method: :post, remote: true, success: "alert('Done!');" } ) do
  - if is_saved_ok
    = image_tag( is_starred ? 'calendar_add.png' : 'calendar_add_disabled.png' )
  - else
    = image_tag( 'bullet_error.png' )
