%a.btn.btn-primary.goggles-margin-bottom(href="#{ new_user_session_path() }")= I18n.t('login')
= I18n.t('or')
%a.btn.btn-primary.goggles-margin-bottom(href="#{ new_user_registration_path() }")= I18n.t('sign_up')
