<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">
			<%= AGEX_APP_NAME %>
			<%= image_tag( AGEX_APP_LOGO ) %>
		</a>
		<%= render_navigation( :expand_all => true, :renderer => :bootstrap ) %>
	</div>
</div>
