.hero-unit
  %h3= t(:welcome)
  %p
    Work In Progress...
  %p
    %a.btn.btn-primary(href="#{new_user_session_path()}")= t(:login)
    = t(:or)
    %a.btn.btn-primary(href="#{new_user_registration_path()}")= t(:sign_up)
