.row-fluid
  .alert.alert-info
    %button.close{'data-dismiss'=>'alert'}
      &times;
    %i
      %strong= t('user_association.privacy_disclaimer_1')
    %i= t('user_association.privacy_disclaimer_2')
