.row-fluid
  .alert.alert-info
    %button.close{'data-dismiss'=>'alert'}
      &times;
    %i
      %strong= t('home_controller.privacy_disclaimer_1')
    %i= t('home_controller.privacy_disclaimer_2')
