.row.col-xs-12.goggles-category-gap
  .container
    .row
      .col-xs-offset-2.col-xs-8
        = form_tag( :search_smart, remote: true, method: :get, class: 'form-horizontal', onsubmit: "$('#loadingIndicator').show();") do
          .input-group
            = text_field_tag( :q, nil, {class: "form-control", placeholder: I18n.t('search_view.query_suggestion')} )
            %span.input-group-btn
              = image_submit_tag( 'search_icon.png', id: 'btnSearchSmart', data: { disable_with: I18n.t(:please_wait), class: 'btn disabled' }, class: 'btn btn-default' )
      .col-xs-2
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

#search_results
.col-xs-12.goggles-category-gap
  &nbsp;
