.col-xs-12
  &nbsp;
.col-xs-12.text-center
  .col-xs-offset-4.col-xs-2
    %a.btn.btn-default(id="social_fb_btn_find_us" href="https://www.facebook.com/MasterGoggles/")
      = image_tag('fb-find-us-online-100.png')
  .col-xs-2
    %iframe( src="https://platform.twitter.com/widgets/follow_button.html?screen_name=master_goggles&show_screen_name=false&show_count=false&size=l" title="#{ t('follow_us') }" width="100" height="48" style="border: 0; overflow: hidden;" )
