#spinner.modal2.modal2-once.hide
  .modal2-outer-container
    .modal2-middle-container
      .modal2-inner-container.text-center
        .modal2-body.full-height-modal2
          %i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
