.col-xs-12.goggles-category-gap
  &nbsp;

.col-xs-12
  %hr/
.col-xs-12
  = link_to("https://twitter.com/master_goggles", {class: 'twitter-timeline', 'data-show-replies'=>'true'}) do
    = I18n.t('news') + " (@master_goggles)"
