%section.home-section#how_to_view_passages
  .container
    .row.col-xs-12
      .section-heading.text-center
        .wow.bounceInDown( data-wow-delay="0.5s" )
          %h2= t('tutorial.how_to_view_passages')
        %p.wow.bounceInUp( data-wow-delay="0.5s" )
          = t('coming_soon')
