.row-fluid#how_to_calculate_fin_score
  %h2= t('tutorial.how_to_calculate_fin_score')

.row-fluid
  %p= t('coming_soon') 

.row-fluid.goggles-category-gap 
  .row-fluid.span6
    .row-fluid.span1
      = image_tag( "spiral-128.png")
    .row-fluid.span11
      %a(href="#TopOfPage")= t('tutorial.argument_index')

.row-fluid.goggles-category-gap 
