.row-fluid
  %p
    .btn.btn-large.btn-block.btn-success
      = link_to( t('misc.fin_score_calculation'), misc_fin_score_calculation_path(), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('misc.fin_score_calculation_tooltip') } )

- @results.each do |meeting|
  .row-fluid
    %p
      .btn.btn-large.btn-block.btn-success
        = link_to( t('results') + ' ' + meeting.get_full_name, meeting_show_full_path(id: meeting.id), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.show_results_tooltip') } )

- @start_lists.each do |meeting|
  .row-fluid
    %p
      .btn.btn-large.btn-block.btn-success
        = link_to( t('meeting.start_list') + ' ' + meeting.get_full_name, meeting_show_start_list_path(id: meeting.id), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.start_list_tooltip') } )

- @invitations.each do |meeting|
  .row-fluid
    %p
      .btn.btn-large.btn-block.btn-success
        = link_to( t('meeting.invitation') + ' ' + meeting.get_full_name, meeting_show_invitation_path(id: meeting.id), { 'data-toggle'=>'tooltip', 'title'=>I18n.t('meeting.manifest_tooltip') } )
