<!-- Main menu section: -->
<%= render( :partial => AGEX_APP + '/main_menu') %>

<div style="padding-top: 5em; padding-bottom: 30em;">
	<h1><%= "Work in Progress" %></h1>
	<p>
		<img alt="Work In Progress" src="/images/icons/page_white_wrench.png"/>
		<%= I18n.t(:req_functionality_under_development) %>
	</p>
</div>
