= render( partial: 'tabs_and_title' )

%section.home-section#goggle_cups
  .container
    .row
      .section-heading.text-center
        .wow.bounceInDown( data-wow-delay="0.5s" )
          %h2= t('tutorials_tab.goggle_cups')
        %p.wow.bounceInUp( data-wow-delay="0.5s" )
          = t('coming_soon')
