.row-fluid
  .span3
    = link_to_user_trainings()
  .span2
    = link_to_user_training_printout( @user_training )
  .span2
    = link_to_user_training_edit( @user_training )
  .span2
    = link_to_user_training_duplicate( @user_training )