.row-fluid
  .offset1.span10
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %tbody
        %tr{'class'=>'info'}
          %td.span1
            &nbsp;
          %td.span3
            %b= I18n.t('meeting.meeting')
          %td.span6{'colspan'=>'5'}
            &nbsp;
        - @all_mirs.each do |individual_result|
          = render( partial: 'full_history_1_individual_result', locals: { individual_result: individual_result } )
.row-fluid
  .span12
