.row-fluid#records_4x_grid
  .goggles-category-gap#pageTop
    %h2= @title
    -# --- Sub-legend for each gender + pool-type
    .navbar
      %ul.nav
        - @grid_builder.pool_types.each do |pool_type|
          %li
            %a.goggles-nav-compact(href="##{pool_type.code}")= pool_type.i18n_short
        .ghost-divider-vertical
  - @grid_builder.pool_types.each do |pool_type|
    = render( partial: 'personal_bests_grid', locals: { pool_type: pool_type, grid_builder: @grid_builder } )
.row-fluid.goggles-category-gap
