.row#records_4x_grid
  .goggles-category-gap#pageTop
    -# --- Sub-legend for each gender + pool-type
    .navbar
      %ul.nav.nav-pills
        - @grid_builder.pool_types.each do |pool_type|
          %li
            = link_to("##{pool_type.code}", {'data-turbolinks'=>'false', class: 'goggles-nav-compact'}) do
              = pool_type.i18n_short
        .ghost-divider-vertical
  - @grid_builder.pool_types.each do |pool_type|
    = render( partial: 'personal_bests_grid_SLOWER', locals: { pool_type: pool_type, grid_builder: @grid_builder } )
.row.goggles-category-gap
