.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = "#{@tab_title} -- "
      = I18n.t('radiography.radio_tab_title').gsub('{SWIMMER_NAME}', @swimmer.get_full_name)
