.col-xs-12.goggles-category-gap#Rules
  .row
    %b= I18n.t('regionalercsi.ranking_rules')
  .row
    = I18n.t('regionalercsi.how_to_meeting_score')
  .row
    = I18n.t('regionalercsi.how_to_individual_ranking')
