%script{ 'type' => "text/javascript", 'src' => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
%script{ 'type' => "text/javascript", 'src' => "/public/jquery/jquery.jqplot.js" }
%script{ 'type' => "text/javascript", 'src' => "/public/jquery/plugins/jqplot.meterGaugeRenderer.js" }
%link{ 'rel' => "stylesheet", 'type' => "text/css", 'hrf' => "/public/jquery/jqplot.css" }

%script
  var sm_score = Number.parseFloat( "#{supermaster_score.score}" );
  var im_score = Number.parseFloat( "#{ironmaster_score.score}" );
  var tr_score = Number.parseFloat( "#{team_ranking_score.score}" );

.div#ironmaster_chart

:javascript
  $(document).ready(function(){
     plotIM = $.jqplot('ironmaster_chart',[im_score],{
         seriesDefaults: {
             renderer: $.jqplot.MeterGaugeRenderer,
             rendererOptions: {
                 label: 'IronMaster',
                 labelPosition: 'bottom',
                 labelHeightAdjust: -5,
                 min: 0,
                 max: 5100,
                 intervalOuterRadius: 85,
                 ticks: [0, 1000, 2000, 3000, 4000, 5000],
                 intervals:[4000, 4500, 5100],
                 intervalColors:['#66cc66', '#E7E658', '#cc6666']
             }
         }
     });
  });