- @reviews.each do |review|
  = render( partial: 'review_detail', locals: {review: review} )

- if @reviews.size == 0
  .row.col-xs-12
    %i= I18n.t('swimming_pool_review.no_reviews')

- if current_user && current_user.has_swimmer_confirmations?
  %p
    %a.btn.btn-primary(href="#{new_swimming_pool_review_path(swimming_pool_id: @swimming_pool_id)}")= t('swimming_pool_review.add_new_review')
