.row.col-xs-12
  = link_to( "javascript:history.back()" ) do
    %i.fa.fa-chevron-circle-left.text-dark
.row
  &nbsp;
.row
  &nbsp;

%h3= @title

= render( partial: 'review_form', locals: {review: @review} )
