.row-fluid
  .span12
    = link_to( I18n.t(:back_to_index_view), swimming_pools_path() )

%ul.nav.nav-tabs#pageTop
  %li
    = link_to(t('swimming_pool.details'), swimming_pool_path(@swimming_pool_id))
  %li.active
    = link_to(t('swimming_pool.reviews'), '#')

= render( partial: 'review_list' )
