.row.col-xs-12
  = link_to( "javascript:history.back()" ) do
    %i.fa.fa-chevron-circle-left.text-dark
.row.col-xs-12
  &nbsp;

.row
  %ul.nav.nav-tabs#pageTop{role: "tablist"}
    %li
      = link_to(t('swimming_pool.details'), swimming_pool_path(@swimming_pool_id))
    %li.active
      = link_to(t('swimming_pool.reviews'), '#')

= render( partial: 'review_list' )

.row
  &nbsp;
