.row.col-xs-12
  = link_to( "javascript:history.back()" ) do
    %i.fa.fa-chevron-circle-left.text-dark
.row
  &nbsp;
.row
  &nbsp;

.row
  %h3= @title

= render( partial: 'review_detail', locals: {review: @review} )

%script
  $(function () { $('[data-toggle="tooltip"]').tooltip(); });
