<% if @response -%>
<% if @response.has_key?(:error) -%>
<div class="alert-error alert">
<%= @response[:error] %>
</div>
<% end -%>
<% if @response.has_key?(:notice) -%>
<div class="alert-success alert">
<%= @response[:notice] %>
</div>
<% end -%>
<% end -%>

<h1>Data-Import - W.I.P.</h1>

<%= link_to(
		"FIN results data-import",
		goggles_di_step1_status_path(),
		:method => :get
	) %>
