.row.fluid.span8#teams_record
  .goggles-category-gap

  - if @available_team_records && @available_team_records.count > 0
    %table.table
      %tr
        %td{ colspan: 2 }
          = I18n.t('records.team_record')
      - @available_team_records.each do |team, team_record_html|
        %tr
          %td
            = link_to( team.get_full_name, team_radio_path(id: team.id), { 'data-toggle' => 'tooltip', title: I18n.t('radiography.team_radio_tab_tooltip') } )
          %td
            = team_record_html
