.row-fluid#fin_score_calculation
  .goggles-category-gap#pageTop

.container-fluid
  .row-fluid.span12.alert.alert-success.goggles-div-centeralign
    %h4
      = @tab_title

  = render( partial: 'score_calculation_parameters' )
  - if @standard_points.to_i >= 0
    = render( partial: 'score_calculation_result' )
  - else
    = render( partial: 'score_calculation_how_to' )

