.row.col-xs-12
  .goggles-category-gap#pageTop

.container
  .row.col-xs-12
    .alert.alert-success.goggles-div-centeralign
      %h4= @tab_title
      %i.goggles-div-centeralign
        = t('misc.how_to_claculate_training_paces')
  .row.col-xs-12
    = render( partial: 'training_paces_2000_parameters' )

#calculation_result
%p/
