.row-fluid
  .offset3
    %h2
      @*?#!%GrBlzkmnH!@*!
.row-fluid
  .offset3.span6.item.thumbnail.active
    = image_tag("404.jpg", class: 'img-thumbnail img-responsive')
%br
.row-fluid
  %p= @exception
