/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

.goggles-breadcrumb{
	padding: 60px 20px 0px 0px;
	text-align: right;
}

.goggles-category-gap{
	padding: 50px 20px 0px 0px;
}

.goggles-divlist-even {
	background: #eeeeee;
}
.goggles-divlist-odd {
	background: #ffffff;
}
.goggles-div-centeralign {
	text-align: center;
}
.goggles-div-rightalign {
	text-align: right;
}

table td.goggles-centeralign{
	text-align: center;
}

table td.goggles-rightalign{
	text-align: right;
}

.navbar .ghost-divider-vertical {
    height: 20px;
    margin: 0 9px;
}

.navbar .goggles-small-brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 200;
    margin-left: 0;
    padding: 2px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
	line-height: 0px;
}
.navbar .nav > li > a.goggles-a-compact {
    padding: 2px 5px;
	line-height: 0px;
}

.table td.goggles-td {
	line-height: 15px;
}
