/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

/* ----- Navbar & Titlebar ----- */
#goggles-inner-navbar {
    min-height: 26px;
    height: 26px;
}

.navbar .goggles-brand {
	color: #777777;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 200;
    margin-left: -10px;
    padding: 3px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .goggles-brand img {
    height: 14px;
}

.navbar .goggles-small-brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 200;
    margin-left: 0;
    padding: 2px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
	line-height: 0px;
}

.navbar ul.nav > li > a {
    padding: 3px 10px;
}
.navbar .nav > li > a.goggles-nav-compact {
    padding: 2px 5px;
	line-height: 0px;
}

.navbar .ghost-divider-vertical {
    height: 20px;
    margin: 0 9px;
}


/* ----- Navigation / breadcrumbs ----- */
.goggles-breadcrumb{
	padding: 26px 10px 0px 0px;
	text-align: right;
}

.goggles-category-gap{
	padding: 26px 0px 0px 0px;
}


/* ----- Tables / Headers with accordion ----- */
.table td.goggles-td {
	line-height: 15px;
}
.table td.goggles-td p {
    margin-bottom: 2px;
}

table.table {
    margin-bottom: 0;
}

table.table.goggles-meeting-team-results-table {
    margin-bottom: 8px;
}

table td.goggles-border-onlyright{
	border-top: none;
	border-right: 1px solid #DDDDDD;
	border-bottom: none;
	border-left: none;
}

table td.goggles-border-right{
	border-right: 1px solid #DDDDDD;
}

table td.goggles-border-onlyleft{
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #DDDDDD;
}

table td.goggles-noborder{
	border: none;
}

table td.goggles-centeralign{
	text-align: center;
}

table td.goggles-rightalign{
	text-align: right;
}

.goggles-bakckground-highlight{
	background: #FFEF8F;
}


.goggles-accordion-heading{
	padding-right: 10px;
	padding-left: 10px;
}

.goggles-accordion-heading img{
	padding-top: 10px;
}



/* ----- Custom table override ----- */
table.goggles-datagrid {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.goggles-mini {
	width: 100px;
}
.goggles-datagrid {
	font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 12px;
}
td.goggles-datagrid, th.goggles-datagrid { 
	padding: 2px 4px;
	line-height: 12px;
	vertical-align: middle;
}

th.goggles-datagrid {
	text-align: center;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009EED), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #009EED 5%, #00557F 100% );
/*
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009EED', endColorstr='#00557F');
*/
	background-color:#009EED;
	color:#FFFFFF;
	font-size: 12px;
	font-weight: normal;
	border-left: 1px solid #0070A8;
}
.goggles-datagrid table thead th:first-child { border: none; }
.goggles-datagrid table tbody td {
	color: #00496B;
	border-left: 1px solid #E1EEF4;
	font-size: 10px;
	font-weight: normal;
}
td.goggles-datagrid.alt {
	background: #E1EEF4;
	color: #00496B;
}
td:first-child.goggles-datagrid { border-left: none; }
tr:last-child td.goggles-datagrid { border-bottom: none; }



/* ----- Div lists ----- */
.goggles-divlist-even {
	background: #eeeeee;
}
.goggles-divlist-odd {
	background: #ffffff;
}
.goggles-div-centeralign {
	text-align: center;
}
.goggles-div-rightalign {
	text-align: right;
}
