/*
 * This file will be loaded last in CSS application tree.
 * Add here all the required style overrides.
 */

/* ----- Bootstrap overrides ----- */
select, input[type="file"] {
    height: 28px;
    line-height: 20px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
    vertical-align: middle;
}
select, input[type="file"] {
    height: 30px;
    line-height: 30px;
}

.goggles-float img {
    padding-left: 6px;
    padding-top: 7px;
}


/* [Steve, 20140120] WIP: tested only with Trainings edit form: */
/*
.row-fluid [class*="span"] {
    margin-left: 0px;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0px;
}
*/