%h3= @swimming_buddy.get_full_name + ' - ' + @title

.row

= form_for( :edit, class: 'form-horizontal', onsubmit: "$('#loadingIndicator').show();" ) do |form|
  = render partial: 'form_fields', locals: {f: form, message_body: nil}
