<h2>--=[  Goggles  -o^o-  ]=--</h2>

<p><%= t('devise.resend_confirm_email_title').gsub('<EMAIL>', @email) %></p>

<p><%= t('devise.confirm_email_text') %></p>

<p><%= link_to( t('devise.confirm_email_submit'), confirmation_url(@resource, :confirmation_token => @token) ) %></p>
